:root {
  --litebox-overlay-bg: rgba(0, 0, 0, 0.6);
  --litebox-image-margin: 2rem;
}

.litebox {
  place-items: center;
  box-sizing: border-box;
  font-size: 16px;

  &:popover-open {
  display: grid;
    background-color: var(--litebox-overlay-bg, rgba(0, 0, 0, 0.8));
  }

  /*
   * Set up a loader that's effectively always behind the images
   * this way we avoid needing to add logic for hiding/showing the loader,
   * it will automatically show when necessary.
   */
  & .litebox-loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80px;
    height: 80px;
  }

  & .litebox-content {
    position: relative;

    img {
      --margin-size: var(--litebox-image-margin, 2rem) * 2;
      --max-vw: calc(100vw - var(--margin-size));
      --max-vh: calc(100vh - var(--margin-size));

      max-width: min(var(--max-vw), 100%);
      max-height: min(var(--max-vh), 100%);
      margin: auto;
    }

    .litebox-description {
      color: white;
      text-align: center;
      margin-top: 1rem;
      font-size: 1rem;
    }
    ul, li {
      margin: 0;
      padding: 0;
      list-style: none;
    }
    ul {
      display: flex;
    }
    li {
      width: 100vw;
      height: 100vh;
      display: none;
      align-content: center;
      justify-content: center;;

      &.active {
        display: grid;
      }
    }
  }

  & .litebox-controls {
    position: fixed;
    top: 1rem;
    left: 0;
    display: flex;
    gap: 0.5rem;
    padding: 0 2rem;
    width: 100vw;
    box-sizing: border-box;

    button {
      background: rgba(0, 0, 0, 0.5);
      border: none;
      color: white;
      font-size: 1.5rem;
      padding: 0.5rem 1rem;
      cursor: pointer;
      border-radius: 0.25rem;
      display: inline-flex;
      align-items: center;


      & svg {
        stroke: white;
        fill: white;
      }
      &.litebox-next svg {
        transform: rotate(180deg);
      }
    }

    .litebox-index-display {
      color: white;
      font-size: 1rem;
      align-self: center;
      background-color: rgba(0, 0, 0, 0.5);
      padding: 0.7rem 1rem;
      border-radius: 0.25rem;
      margin-right: auto;
    }
  }
}
